*{
    padding: 0;
    margin: 0;
background-color:#DC143C; 
    border: white;
    /* font-size: 10px; */
    
    
}

    body{
        font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        
    
    }
    



    /****my hearder css*******/

        .clearfix{
            
            display: flex;
            align-items: center;
            justify-content: center;
        }
    

    .myname {
        padding: 20px;
        /* font-family: cursive; */
        
        
    
    }
    
    /*****ends*****/ 
    /****section 2****/  
    
    .city {
        
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        font-family: Georgia, serif;
    

    }
    .image {
        
        display: flex;
        padding: 10px;
        
    }
    
    .cityname {
        padding: 10px;
    }
    .text {
        
        padding: 10px;
    }

    
        
    
    
    /*****end of section 2****/
    /*******sectin 3******/

    .foreign {
        
        padding: 18px;
        font-family: Georgia, serif;
        margin-top: -30px;
        
        
    }
    .content {
        padding: 10px;
        
    }
    

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 900px;
    align-items:center ;
    
 }

/*******end of sectoin 3*****/
/*******section 4****/






.historical {
    
    padding:10px;
      display: flex;
      justify-content: right;
      font-family: Georgia, serif;
      list-style: none; 

    
}
.place-1-hal{
    display: flex;
    padding: 10px;
    
}
.place-1-image{
    height: 133px;
    margin-right:20px ;
    
    
} 
.place-2-cas {
    display: flex;
    padding: 20px;
    align-items: center;
    margin-right: 20px;
     
    
    
    
}
.img-2 {
    margin-top: 10px;
}

.place-3-izi{
    padding: 20px;
    display: flex;
    
}
.place-3-image {
    margin-top: 10px;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}



/***@media Q***/

    @media screen and (max-width:800px) {
    .historical {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
   
        }
        .place-2-cas{
            display: flex;
            /* float: left; */
         }
        .img-2 {
            order: -1;
             /* width: 46%; */
            /* margin-right: 10%; */
            padding: 10px;
        }
        




        .clearfix{
            flex-direction: column;
        }
        .city {
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
            font-family: Georgia, serif;
            
            
        }
    
        .image {
            display: flex;
             padding: 10px;
            flex-direction: column;
            flex-wrap: wrap;
            /* width:100%; */
            
        }
    
        .text {
            padding: 10px;
            font-size: initial;
            
            
        }
        table, th, td {
            border: 1px solid #000;
            border-collapse: collapse;
            width: 400px;
         }
        
        
    }

     


    
    






    





    