*{
    padding: 0;
    margin: 0;
background-color:#DC143C;
    border: white;
    
    
}

    body{
        font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        background-color:white
    }
    

    /****my hearder css*******/

        .clearfix{
            /* background-color: rgb(22, 139, 143); */
            display: flex;
            align-items: center;
            justify-content: center;
        }
    

    .myname {
        padding: 20px;
        font-family: cursive;
        
        
    
    }
    
    /*****ends*****/ 
    /****section 2****/  
    
    .city {
        /* background-color:limegreen; */
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        font-family: cursive;

    }
    .image {
        /* float: left; */
        display: flex;
        padding: 10px;
        
    }
    /* .clearfix {

    } */
    .cityname {
        padding: 10px;
    }
    .text {
        padding: 10px;
        
        
    }

    
        
    
    
    /*****end of section 2****/
    /*******sectin 3******/

    .foreign {
        /* background-color: orange; */
        padding: 18px;
        font-family: cursive;
        
        
    }
    .content {
        padding: 10px;
        
    }
    .table1 {
        /* background-color: blue; */
        width: 400px;

    }

        /* table {
        width: 400px;
        float: left;
    } */
    th {
        text-align:center;
        
    }
    table, th, td {
        border: 1px solid #000;
        border-collapse: collapse;
        width: 900px;

 } 
td {
    text-align:center;
}
/*******end of sectoin 3*****/
/*******section 4****/






.historical {
    /* background-color: brown;  */
    padding:10px;
      display: flex;
      justify-content: right;
      font-family: cursive;
    
    

    
    
}
.place-1 {
     
display: flex;
padding: 10px;
justify-content: left;




}
.place-1-text {
    padding-left: 20px;
    

}
.place-2 {
    display: flex;
    padding: 10px;
    justify-content: left;
    
     
}
.place-2-text{
    padding-left: 20px;
}
.place-3 {
    display: flex;
    padding: 10px;
    justify-content: left;
}
.place-3-text {
    padding-left: 20px;
}
/***@media Q***/
@media screen and (max-width:600px){
    .clearfix{
        flex-direction: column;
    }
}
@media screen and (max-width:600px){
    .city {
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        font-family: cursive;
    }

    .image {
        display: flex;
        /* padding: 10px;? */
        flex-direction: column;
        flex-wrap: wrap;
        width: 0;
        
    }

    .text {
        padding: 10px;
        font-size: initial;
        
        
    }
}
   @media screen and (max-width:600px) {
    table, th, td {
        border: 1px solid #000;
        border-collapse: collapse;
        width: 300px;

 } 
}
    @media screen and (max-width:600px) {
    .historical {
        flex-direction: column;
        

    }
    place-1 {
     
        display: flex;
        padding: 10px;
        height: auto;
        
        
        
        
        
        }
        .place-1-text {
            padding-left: 20px;
            
            
        
        }
        .place-2 {
            display: flex;
            padding: 10px;
            justify-content: left;
            align-items: center;
            
             
        }
        .place-2-text{
            padding-left: 20px;
            text-align: right;
        }
        .place-3 {
            display: flex;
            padding: 10px;
            justify-content: left;
            align-items: left;
        }
        .place-3-text {
            padding-left: 20px;
        }
    }

 
    






    





    